@import"./componentes/header";
@import"./componentes/section-boots";
@import"./componentes/animaciones";
@import"./componentes/card-page";
@import"./componentes/footer";
@import"./componentes/detalle-productos";
@import"./componentes/envios";
@import"./componentes/nosotros";
@import"./componentes/tshirt";
@import"./componentes/seccion-addtocart";
@import"./componentes/carrusel";

.volver{
    text-decoration: none;
    padding: 5%;
    margin: 2%;
    text-align: center;
}

